html {
  body {
    margin: 0;
    font-family: 'DengXian', "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "微软雅黑", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    -webkit-tap-highlight-color: transparent;
    .mint-header-title {
      font-size: 16px;
    }
    .el-header, .el-footer {
      padding: 0;
      height: auto!important;
      .mint-header {
        a {
          text-decoration: none;
          color: #333;
        }
      }
    }
    .el-main {
      padding: 0;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: #333;
      }
      .mobile-main {
        min-height: calc(100vh - 106px);
        margin-top: 50px;
        margin-bottom: 56px;
        background-color: #F5F5F5;
        padding: 20px 10px;
      }
      .mobile-main {
        .el-input__inner, .el-textarea__inner {
          border: 1px solid #eee;
        }
        textarea {
          height: calc(100vh - 290px)!important;
          font-family: 'DengXian', "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "微软雅黑", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
        }
      }
    }
    .el-popover.essay-error-popper {
      background-color: rgba(0,0,0,0.8);
      color: #fff;
      text-align: left;
      word-break: break-all;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: 5px;
      &>span {
        margin-left: 10px;
      }
      .el-popover__title {
        color: #FF6E36;
        font-size: 14px;
        margin-bottom: 5px;
      }
      .el-popover__title::before {
        content: '\02022';
        color: #FF6E36;
        margin-right: 5px;
      }
      .popper__arrow::after {
        border-top-color: rgba(0,0,0,0.8);
        border-bottom-color: rgba(0,0,0,0.8);
      }
    }

    // 修改nprogress颜色
    #nprogress {
      .bar {
        background: #409EFF;
      }
      .peg {
        box-shadow: 0 0 10px #409EFF, 0 0 5px #409EFF;
      }
      .spinner-icon {
        border-top-color: #409EFF;
        border-left-color: #409EFF;
      }
    }
  }
}
