html {
  body {
    margin: 0;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "微软雅黑", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    .my-loading-color {
      .el-loading-spinner {
        .el-icon-loading, .el-loading-text {
          color:#fff;
        }
      }
    }
    .el-header, .el-footer {
      padding: 0;
      height: auto!important;
    }
    .el-main {
      padding: 0;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: #333;
      }
      .pc-main {
        padding: 20px;
        .el-tabs__header {
          display: none;
        }
        .el-textarea__inner {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        textarea {
          font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "微软雅黑", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
        }
      }
      @media screen and (min-width: 1200px){
        .pc-main {
          margin: 0 auto;
          max-width: 1160px;
        }
      }
    }
    // 修改nprogress颜色
    #nprogress {
      .bar {
        background: #409EFF;
      }
      .peg {
        box-shadow: 0 0 10px #409EFF, 0 0 5px #409EFF;
      }
      .spinner-icon {
        border-top-color: #409EFF;
        border-left-color: #409EFF;
      }
    }
  }
}